* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  font-family: 'Luckiest Guy', cursive;
}

body {
  background-image: linear-gradient(to left, #e74b35, #ffe962);
}

h1,
.game-mode-title {
  color: #ffe962;
}

h1 {
  font-size: 11rem;
  display: block;
  width: fit-content;
  margin: 3rem auto;
  background-color: #2f3c66;
  border-radius: 2rem;
  box-shadow: 1rem 1rem 0 0 #ffe962;
  padding: 2rem 1rem 0 1rem;
}

#game-mode-selection {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas:
    'filas area1 esquinas area2 todo'
    'area3 columnas area4 adentro-afuera area5';
  justify-content: center;
  align-items: center;
  height: 74rem;
}

.game-mode {
  width: 35rem;
  height: 35rem;
  background-color: #2f3c66;
  border-radius: 50%;
  border: 1rem solid #e64328;
  margin: 0 auto;
  cursor: pointer;
  transition: 0.3s all ease;
}

.game-mode:hover {
  width: 37rem;
  height: 37rem;
}

#mode-1 {
  grid-row: 1/2;
  grid-column: 1/2;
  grid-area: filas;
}

#mode-2 {
  grid-row: 2/3;
  grid-column: 2/3;
  grid-area: columnas;
}

#mode-3 {
  grid-row: 1/2;
  grid-column: 3/4;
  grid-area: esquinas;
}

#mode-4 {
  grid-row: 2/3;
  grid-column: 4/5;
  grid-area: adentro-afuera;
}

#mode-5 {
  grid-row: 1/2;
  grid-column: 5/6;
  grid-area: todo;
}

.game-mode-title {
  font-size: 6rem;
  display: block;
  width: fit-content;
  margin: 2.5rem auto 1.5rem auto;
}

#mode-1-title {
  margin-bottom: -1.5rem;
}

#mode-1-title,
#mode-2-title,
#mode-3-title,
#mode-4-title {
  font-size: 4rem;
  text-align: center;
  margin-bottom: 0;
}

#mode-1-title {
  font-size: 5rem;
}

.game-mode-icon {
  width: 19rem;
  height: 19rem;
  display: block;
  margin: 0 auto;
}

#mode-1-icon {
  transform: rotate(90deg);
}

#mode-3-icon,
#mode-4-icon {
  width: 17rem;
  height: 17rem;
}
